<div class="row" *ngIf="workers.length>0">
    <div class="col-12">
        <h5>{{title}}</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" [style.width]='"100px"'>Id</th>
                <th scope="col" [style.width]='"40%"'>Name</th>
                <th scope="col">Surname</th>
                <th scope="col" [style.width]='"150px"'></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let worker of workers">
                <th scope="row">{{worker.id}}</th>
                <td>{{worker.name}}</td>
                <td>{{worker.surname}}</td>
                <td><button class="btn btn-outline-danger btn-sm" (click)="onDeleteWorker(worker.id)">Удалить</button></td>
            </tr>
        </tbody>
    </table>
</div>